*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2px;
    padding: px;
    background-color: black;
}
aside{
    position: absolute;

    width:3em;
    padding: 17px;
    height: 100vh;
    border-radius: 10px 10px 0px 0px;
    background-color:  rgb(21, 67, 98);
    color: white;
}
nav{
    max-height: 4em;
    position: relative;
    width: 94vw;
    left: 3.2em;
   background-color: rgb(21, 67, 98);
   display: flex;
   flex-wrap: ; 
   gap: 7em;
   padding: 10px;
   border-radius: 10px;
   align-items: center;
   justify-content: space-between;
}
.navlinks{
    position: relative;
    list-style: none;
    display: flex;
    gap:7em;
    left: 10em;
    font-size: smaller;
}
a{
    text-decoration: none;
    color: white;
}
.globe{
    display: flex;
    align-content: center;
    gap: 5px;
}
.connect{
    border: 1px none;
    border: 1px solid white;
    border-radius: 30px;
    font-size: x-small;
    color: white;
    padding: 5px 5px;
    background-color:  rgb(21, 67, 98);
    cursor: pointer;
}
.creon{
    color: white;
    margin-left:3em ;
}

.create{
   width: 94vw;
    position: relative;
    
    align-items: center;
    padding: 60px;
    border-radius: 10px;
    background-color:  rgb(21, 67, 98);
  margin-left: 3.2em;
  background-image:  url(bag\ image.jpg);
  background-size:   contain ;
  background-position: right center;
  background-repeat:no-repeat ;
  background-position-x: 47em;
  background-size: 270px 270px;
  
}


.create h1{
    position: absolute;
    left: 1em;
    color: white;
    position: relative;
    
    font-size: 4em; 
    letter-spacing: 3px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    animation: create 2s ease-out;
}
@keyframes create{
    from {
        opacity: 0;
        transform: translate(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.startnow{
    position: relative;
    animation: pulse 1.5s infinite;
    background-color: rgb(39, 215, 83) ;
    color: black;
    border: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: small; 
    bottom:30px ;
    width: 130px;
    cursor: pointer;

}
@keyframes pulse{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
.lower{
    position: relative;
    width: 94vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    left: 3.2em;
    animation: slide-in 0.8s ease-out;
}
@keyframes slide-in{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(1);
    }
}
.down1{
   
    display: grid;
    background-color:rgb(21, 67, 98);
    padding: 20px;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    gap: 2em;
    color: white;

}
.middle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: black;
    display: grid;
    padding: 43px;
    background-image: linear-gradient(to bottom, rgb(27, 221, 76), rgb(210, 223, 126) );
    border-radius: 10px 10px 0px 0px;
   
}

.end{
   
   
    display: block;
    background-color: rgb(144, 201, 196);
    padding: 43px;
    border-radius: 10px 10px 0px 0px;
   align-items: flex-start;
    color: black;
    
}


.end::before{
    content: "";
    position: absolute;
    top: 70%;
    left: 71%;
    width: 300px;
    height:40px;
    
    background-image: radial-gradient(circle, black 0.5px, transparent 4px);
    background-size:20px 20px ;
    transform: translate(-50 -50);
    opacity: 1;}
.button{
    margin-right: 3.5em;
    cursor: pointer;

    

}

button{
    background-color: rgb(21, 67, 98);
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    padding: 6px;
    
}
.black{
    position: relative;
    left:px;
    bottom: 0.5em;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
}
.unique{
    position: relative;
    left: 81px;
    display: flex;
    gap: 20px;
    bottom: 30px;
    
}
.eth{
    position: relative;
    background-color:   rgb(39, 215, 83) ;
    border-radius: 20px;
    padding:  6px ;
    width: 120px;
    left: 64em;
    bottom: 12em;
    color: black;
    font-size: smaller;
}


.flower{
    margin-bottom: 4em;
    float: right;
    
}
.side{
    display: flex;

    
}
.a{
    position: relative;
    align-self: center;
    font-size: x-large;
}
.b{
    position: relative;
    top: 100px;
}
.c{
    position: relative;
    top: 400px;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font-size: smaller;
}
.u{
    position: relative;
    font-size: x-small;
    top: 2em;
    right: 5em;
}
.arrow{
    
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid white;

    
}
.midp{
position: relative;
bottom: 1em;

}
#web{
    display: grid;
    position: relative;
    top: 3px;
    gap: 0.5em;
}
#web3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p{
   position: relative;
   top: 2em; 
    
}
.colors{
    display: flex;
    margin-top: em;
    
    
}
.blacks{
    position: relative;
    right: 0.9;
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;

}
.blue{
    position: relative;
    left: 10px;
    background-color: aqua;
    height: 30px;
    width: 30px;
    border-radius: 50%;

}
.pink{
    position: relative;
    right: 0.7em;
     background-color: palevioletred;
     height: 30px;
     width: 30px;
     border-radius: 50%;
}
@media screen and(max-width:768px) {

    
}
    












